
/* ====================================================================================================
   VIEW ALL ARTISTS' STYLE
   ==================================================================================================== */ 

.artists-viewall {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20em, 1fr));
  gap: 1em;
  padding: 2em 1em;
}