<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/css/concerts.css">
    <link rel="stylesheet" href="/css/accueil.css">

    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     
     <style>
        #map { height: 100%; width: 100%; }
     </style>
</head>

<body>
    <div id="map">
        <div id="container-groupie_title">
            <nav>
                <div class="groupie_title">
                    <h1>
                        <a href="/">GROUPIE TRACKER</a>
                    </h1>
                </div>
                <div class="search-bar">
                    <form class="search-form" action="/search" method="POST">
                        <div class="input-container">
                            <input required placeholder="Search artists..." class="search-input" id="text-search" type="text" name="search-bar" list="suggestions-list" autocomplete="off"/>
                            
                            <datalist id="suggestions-list">
                                {{range $artist := .Artists}}
                                <option value="{{$artist.Name}}">{{$artist.Name}}</option>
                                {{range $artist.Members}}
                                <option value="{{.}}">{{.}} (member of {{$artist.Name}})</option>
                                {{end}}
                                {{end}}
                            </datalist>
                        </div>

                        <button class="submit-button" type="submit">
                            <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-submit">
                                <path d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor"></path>
                            </svg>
                            <p>Search</p>
                        </button>
                    </form>
                </div>
                <ul class="groupie_artists">
                    <li><a href="/" class="nav-link">Accueil</a></li>
                    <li><a href="/artists" class="nav-link">Artistes</a></li>
                    <li><a href="/concerts" class="nav-link">Évènements</a></li>
                </ul>
            </nav>
        </div>
    </div>

    
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>

    <script>
        //position
        var map = L.map('map').setView([48.8566, 2.3522], 4);
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);
        var marker = L.marker([51.5, -0.09]).addTo(map);
        marker.bindPopup("<b>Taylor Swift</b><br>London - 24/07/2026").openPopup();
    </script>
    
    
</body>
</html>