<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="static/images/image.png"/>
    <title>Groupie Tracker</title>
    <link rel="stylesheet" href="/css/accueil.css">
    <link rel="stylesheet" href="/css/viewAllArtists.css">
  
</head>

<body>
    <div class="back-grad">
        <div id="container-groupie_title">
            <nav>
                <div class="groupie_title">
                    <h1>
                        <a href="/">GROUPIE TRACKER</a>
                    </h1>
                </div>
                <div class="search-bar">
                    <form class="search-form" action="/search" method="POST">
                        <div class="input-container">
                            <input required placeholder="Search artists..." class="search-input" id="text-search" type="text" name="search-bar" list="suggestions-list" autocomplete="off" value="{{.SearchQuery}}"/>
                            
                            <datalist id="suggestions-list">
                                {{range $artist := .Artists}}
                                <option value="{{$artist.Name}}">{{$artist.Name}}</option>
                                {{range $artist.Members}}
                                <option value="{{.}}">{{.}} (member of {{$artist.Name}})</option>
                                {{end}}
                                {{end}}
                            </datalist>
                        </div>

                        <button class="submit-button" type="submit">
                            <svg viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="icon-submit">
                                <path d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor"></path>
                            </svg>
                            <p>Search</p>
                        </button>
                    </form>
                </div>

                <ul class="groupie_artists">
                    <li><a href="/" class="nav-link">Home</a></li>
                    <li><a href="/artists" class="nav-link">Artists</a></li>
                    <li><a href="/concerts" class="nav-link">Events</a></li>
                </ul>
            </nav>
        </div>
        

        <div>
            <div class="viewall-package">
                <div class="artists-viewall">
                    {{range .Artists}}
                    <div class="artists-card">
                        <div class="artist-image">
                            <img onclick="window.location.href='/artist?id={{.Id}}'" src="{{.Image}}" alt="{{.Name}}">
                        </div>
                        <div class="artist-info">
                            <h3 onclick="window.location.href='/artist?id={{.Id}}'">{{.Name}}</h3>
                            <p class="creation-date" onclick="window.location.href='/artist?id={{.Id}}'">Since {{.CreationDate}}</p>
                            <p class="members-count" onclick="window.location.href='/artist?id={{.Id}}'">{{len .Members}} member(s)</p>
                            <p class="first-album" onclick="window.location.href='/artist?id={{.Id}}'">First Album: {{.FirstAlbum}}</p>
                        </div>
                    </div>
                    {{end}}
                </div>
            </div>
        </div>
    </div>
</body>
</html>